{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Hasura plugin for Craft CMS 3.x
 *
 * Hasura Settings.twig
 *
 * @author    Jason McCallister
 * @copyright Copyright (c) 2019 Jason McCallister
 * @link      https://mccallister.io
 * @package   Hasura
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("jasonmccallister\\hasura\\assetbundles\\hasura\\HasuraAsset") %}

{% set signingMethodOptions = {
    HS256: 'HS256',
    HS384: 'HS384',
    HS512: 'HS512',
    RS256: 'RS256',
    RS384: 'RS384',
    RS512: 'RS512'
} %}

<h2>General Settings</h2>
<p class="note">These settings you should change. However, we are setting some sensible defaults to reduce configuration.</p>

{{ forms.textField({
    label: 'Default Role',
    instructions: 'The default role that should be assigned when signing tokens.',
    id: 'defaultRole',
    name: 'defaultRole',
    value: settings['defaultRole']})
}}

{{ forms.checkboxField({
    label: 'Require CSRF Tokens',
    instructions: 'If you are going to use Craft to host the site (e.g. the forms will be submitted with the CSRF token). If you are going to allow other applications to generate JWTs, you must diable this as those applications do not have access to the CSRF token.',
    id: 'requireCsrfToken',
    name: 'requireCsrfToken',
    checked: settings['requireCsrfToken'],
    value: settings['requireCsrfToken'] ? 'on' : 'off'})
}}

<hr>

<h2>JSON Web Token (JWT) Settings</h2>
<p class="note">By default, HMAC is selected to sign the JWT.</p>

{{ forms.selectField({
    label: "Signing Method",
    instructions: "Select the signing method used to sign the JWT",
    id: 'signingMethod',
    name: 'signingMethod',
    value: settings.signingMethod,
    options: signingMethodOptions
}) }}

{{ forms.textField({
    label: "Signing Key",
    instructions: "Enter the key used to sign JWTs. If you selected RS* as the signing method this would be the private key.",
    id: 'signingKey',
    name: 'signingKey',
    value: settings.signingKey,
}) }}

<hr>

<h2>Additional Settings</h2>
<p class="note">These settings you whould not have to change, but are provided in the event you need to customize the JWT further. These are defaults to what Hasura GraphQL Engine expects.</p>

{{ forms.textField({
    label: 'Claims Namespace',
    instructions: 'The claims namespace that should be assigned when signing tokens.',
    id: 'claimsNamespace',
    name: 'claimsNamespace',
    value: settings['claimsNamespace']})
}}
